.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    height: 50vh;
    width: 100vw;
  }
  
  .left-section {
    grid-column: 1;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  /* Decorative Corners */
  .top-left-corner,
  .bottom-right-corner {
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 0;
  }
  
  .top-left-corner {
    top: 0;
    left: 0;
  }
  
  .bottom-right-corner {
    bottom: 0;
    right: 0;
  }
  
  .top-left-corner > .vertical,
  .bottom-right-corner > .vertical {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--selective_yellow);
  }
  
  .top-left-corner > .vertical {
    top: 0;
    left: 0;
  }
  
  .bottom-right-corner > .vertical {
    top: 0;
    left: 60px;
  }
  
  .top-left-corner > .horizontal,
  .bottom-right-corner > .horizontal {
    position: absolute;
    height: 25%;
    width: 100%;
    background-color: var(--selective_yellow);
  }
  
  .top-left-corner > .horizontal {
    top: 0;
    left: 0;
  }
  
  .bottom-right-corner > .horizontal {
    top: 60px;
    left: 0;
  }
  
  /* Centered Intro Box */
  .introduction {
    border: 2px solid var(--selective_yellow);
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    z-index: 1;
  }
  
  .hello {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .name {
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 1.1;
  }

.right-section {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    
    margin-right: 10%;
    align-items: center;
}

.headshot {
    width: 80%;
    height: auto;
    border-radius: 20px;
    border: 2px solid var(--mahogany);
}

.featured {
    margin-top: 150px;
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: 2px solid var(--selective_yellow);
}
